<ion-header translucent>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="back()" >
          <ion-back-button class="show-back-button"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center textoLogin">Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="auth-form" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col  align-self-center>
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>O App do Ponto</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <ion-item>
                <ion-label position="floating"><ion-icon name="mail" item-start class="text-primary"></ion-icon> E-mail</ion-label>
                
                <ion-input type="email" formControlName="login"></ion-input>
              </ion-item>
              <div *ngIf="!form.get('login').valid && (form.get('login').dirty || form.get('login').touched)" color="danger">
                <ion-text color="danger" [hidden]="!form.get('login').errors.required">
                  O campo é obrigatório
                </ion-text>      
                <ion-text color="danger" [hidden]="!form.get('login').hasError('email')">
                  E-mail inválido
                </ion-text>      
              </div>


              <ion-item>
                <ion-label position="floating"><ion-icon name="lock-closed"></ion-icon>Senha</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div *ngIf="!form.get('password').valid && (form.get('password').dirty || form.get('password').touched)" color="danger">
                <ion-text color="danger" [hidden]="!form.get('password').errors.required">
                  O campo é obrigatório
                </ion-text>      
              </div>

              <br>
              <ion-button class="flipOutX btnCorFundo"  expand="block" type="submit" [disabled]="!form.valid" >Entrar</ion-button>

            </form>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-rodape></app-rodape>
