<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Relatório</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="power-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- List Headers in Lists -->
  <ion-list>
    <ion-list-header lines="inset">
      <ion-label>Recent</ion-label>
      <ion-button>Clear</ion-button>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label color="primary">
        <h1>Dia: 30/04/2020</h1>
        <ul>
          <li>08:00</li>
          <li>08:00</li>
          <li>08:00</li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
