<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Registrar Ponto</ion-title>   
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="power-sharp"></ion-icon>    
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="no-scroll ion-text-center">
  <h2 class="ion-text-center"> {{clock}} </h2>
<br>  
    <div class="botaoCamera">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </div>

    <br>
    <div class="boxFoto" *ngIf="mostraFoto">
      <img [src]="photo" >  
    </div>  
  
</ion-content>

<ion-footer class="ion-no-border" *ngIf="mostraFoto"> 
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center">
      <ion-button [disabled]="!mostraFoto" expand="block" class="botaoRegistraPonto animated bounce delay-2s" color="primary" (click)="registraPonto()">Registrar Ponto</ion-button>    
    </ion-title>
  </ion-toolbar>
</ion-footer>