<app-cabecalho title="Registra Ponto"></app-cabecalho>

<ion-content fullscreen class="no-scroll ion-text-center">
  <h2 class="ion-text-center"> {{clock}} </h2>
<br>  
    <div class="botaoCamera">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </div>

    <br>
    <div class="boxFoto" *ngIf="mostraFoto">
      <img [src]="photo" >  
    </div>  
  
</ion-content>

<ion-footer class="ion-no-border" *ngIf="mostraFoto"> 
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center">
      <ion-button [disabled]="!mostraFoto" expand="block" class="botaoRegistraPonto animated bounce" color="primary" (click)="registraPonto()">Registrar Ponto</ion-button>    
    </ion-title>
  </ion-toolbar>
</ion-footer>