<app-cabecalho title="Principal"></app-cabecalho>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-card>
          <ion-card-header>            
            <ion-card-title class="ion-text-center">Crachá</ion-card-title>
          </ion-card-header>      
          <ion-card-content>
            
            <ion-item class="ion-text-center">
              <ion-label> {{ label }} </ion-label>
            </ion-item>
            <br>
            <ion-button expand="block" (click)="changeLabel()">BOTÃO</ion-button>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>