<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" >Bem Vindo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form" fullscreen> 
  <ion-grid>
    <ion-row>      
      <ion-col align-self-center>
        <h1 class="animated fadeIn ion-text-center">O App do ponto</h1>
        
        <div class="logo ion-text-center">
          <ion-img  style="width:50%" src="../../assets/img/logo.jpg"></ion-img>
        </div>

        <ion-button class="animated  fadeIn" [routerLink]="['/cadastro-usuario']" expand="block" color="primary">Cadastre-se</ion-button>

        <span class="divider line one-line">ou</span>

        <span class="already">Já é usuário?</span>

        <ion-button class="animated fadeIn" [routerLink]="['/login']" expand="block" color="primary">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar  color="primary">
    <ion-title class="ion-text-center">Versão: 1.0.0.3</ion-title>
  </ion-toolbar>
</ion-footer>